*{
margin: 0;
padding: 0;
}

body{
	background-color: #1D1D1D;
	color: #000;
	font: normal 0.8em arial, Helvetica, san-serif;
}

p{
	text-align: justify;
	font-size: 1em;
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

h1{
	color: #FFF;
	font-size: 1.7em;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
	text-shadow: 0px -1px 0px #fff;
}

h2{
	font-size: 1.6em
}

h3{
	font: bold 1.3em arial, Helvetica, san-serif;
}

h4, h5, h6{
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 0 0 0px 0;
}

main, header, #barra_menu, section, footer{
 	margin: 0 auto;
}

section#menu_section{
	background-color: inherit;
}

#universidad h1 {
 	font-normal: bold 3em Arial, Helvetica, san-serif;
 	letter-spacing: 1px;
 	text-shadow: 0.5px 0.5px yellow;
 	color: #fff;
	padding-top: 20px;
 }

 #universidad{
   width: 300px;
   float: left;
   height: 50px;
   margin: 0 auto;
   padding-left: 20px;
   padding-top: 10px;
 }

ul{
 	font-style: normal;
 	font-style: 1em;
 	line-height:  1.7em;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 30px;
 }

#barra_menu{
 	float: right;
 	margin: 0 auto;
	padding-bottom: 20px;
}

 ul#menu li{
 	padding: 0 0 0 0px;
 	list-style: none;
 	margin: 2px 0 0 0;
 	display: inline;
 	background: transparent;
 }

 ul#menu li a{
 	float left;
 	font: bold 1.3em Arial, Helvetica, san-serif;
 	text-shadow: 0px -1px 0px  #000;
 	padding: 0px 10px 0 10px;
 	background: transparent;
 	text-align: center;
 	color: #fff;
 	text-decoration: none;
 }

ul#menu li.current a{
	color: #098EFF;
	text-shadow: none;
}

 ul#menu li:hover a{
 	color:  #098EFF;
 	text-shadow: none;
}

header{
 	height: 80px;
 	width: 940px;
 	padding: 5px  5px 5px 5px;
 	position: relative;
}

section{
 	background-color: #fff;
	border-radius: 10px;
  width: 920px; /*medida del banner*/
 }

#headerimage{
	padding: 5px  5px 5px 5px;
}

div#headerimage {
  width: 100%;
}

article.Facultad {
  float: left;
  width: 29%;
  margin: 1%;
	border-radius: 10px;
  background-color: #098EFF;
  padding: 1%;
  display: block;
	min-height: 250px;
}

article.Facultad h3{
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

article.Facultad p{
	color: #FFF;
	min-height: 150px;
}

div.clearfix{
  height: 5px;
  float: left;
  clear: both;
  width: 100%;
}

a, a:hover{
 	color:#1D1D1D;
 	text-decoration: none;
}

a:hover{
 	text-decoration: underline;
}

.mas{
	font: bold 1.1em Arial, Helvetica, san-serif;
	width: 80px;
	margin: 15px 0;
	border-radius: 15px;
	text-align: center;
	padding: 7px 7px 7px 7px;
	box-shadow: rgba(0,0,0,5) 0px 0px 5px;
	background-color: #fff;
}

.mas a{
	color:#000;
	text-shadow: 1px 1px #c8c8d0;
}

#content {
 margin: 20px;
 width: 800px;
 padding-left: 40px;
 text-align: justify;
}

#content h1{
	color:#098EFF;
}

#contenido_gris h4{
	color: #FFF;
	text-shadow: 1px 1px #000;
}

#contenido_gris p{
	color: #fff;
	text-shadow: 1px 1px #000;
}

section#contenido_gris{
	background: #000;
 	background: -moz-linear-gradient(#676767, #222327);
 	background: -o-linear-gradient(#676767, #222327);
 	background: -webkit-linear-gradient(#676767, #222327);
 	box-sizing: rgba(0,0,0,0,5) 0px 0px 0px;
 	width: 920px;
 	text-align: center;
}

.caja{
	width: 270px;
	padding: 5px;
	text-align: center;
	margin: 20px 0 10px 10px;
	float: left;
	text-align: justify;
}

.cajamas{
	font: bold 1.1em Arial, Helvetica, san-serif;
	height: 15px;
	width: 80px;
	border-radius: 15px;
	text-align: center;
	padding: 7px 7px 7px 7px;
	box-shadow: rgba(0,0,0,5) 0px 0px 5px;
	background-color: #098EFF;
	background: -moz-linear-gradient(#43A9FF,#0183F0);
 	background: -o-linear-gradient(#43A9FF,#0183F0);
 	background: -webkit-linear-gradient(#43A9FF,#0183F0);
}

.cajamas a{
	color: #FFF;
	text-shadow: 1px 1px #004c8c;
}

footer{
 	background: -moz-linear-gradient(#fff, #BBB);
 	background: -o-linear-gradient(#fff, #BBB);
 	background: -webkit-linear-gradient(#fff, #BBB);
  height: 50px;
	margin-top: 15px;
 }

 footer p{
	 text-align: center;
 }
